<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="Host" value="127.0.0.1" />
    <add key="Port" value="1234" />
    <add key="UseSSL" value="true" />
    <add key="SendBufferSize" value="4096" />
    <add key="RecvBufferSize" value="4096" />
    <add key="ConnectTimeout" value="5000" />
    <add key="SendTimeout" value="2000" />
    <add key="RecvTimeout" value="2000" />
    <add key="HeartBeatPeriod" value="10000" />
  </appSettings>
</configuration>